 Write a python program to display all the header tags from wikipedia.org.

In [1]:
#BeautifulSoup Assignment-1 Question-1

import requests
from bs4 import BeautifulSoup
 
# scraping a wikipedia article to list all tags
url_link = 'https://en.wikipedia.org/wiki/Main_Page' 
request = requests.get(url_link)
 
soup = BeautifulSoup(request.text, 'html5lib') #Parsing
 
# creating a list of all common heading tags for matching 

head_tags = ["h1", "h2", "h3" ,"h4", "h5" , "h6"]

for tags in soup.find_all(head_tags):
    print(tags.name + ' : ' + tags.text.strip())

h1 : Main Page
h1 : Welcome to Wikipedia
h2 : From today's featured article
h2 : Did you know ...
h2 : In the news
h2 : On this day
h2 : Today's featured picture
h2 : Other areas of Wikipedia
h2 : Wikipedia's sister projects
h2 : Wikipedia languages
h2 : Navigation menu
h3 : Personal tools
h3 : Namespaces
h3 : Views
h3 : Navigation
h3 : Contribute
h3 : Tools
h3 : Print/export
h3 : In other projects
h3 : Languages

 Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [2]:
#BeautifulSoup Assignment-1 Question-2

import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

# scraping Imdb Website for top 100 movies

url_link = 'https://www.imdb.com/chart/top/'

request = requests.get(url_link)

#Creating Empty lists for storing data

namelist1=[]
namelist2=[]
realeselist3=[]
list4=[]
ratinglist5=[]

soup = BeautifulSoup(request.text, 'html5lib')

for title in soup.find_all('td',class_="titleColumn"):
    namelist1.append(title.text)

for ratings in soup.find_all('td',class_="imdbRating"):
    list4.append(ratings.text)


for i in range(0,100):

    fname=namelist1[i].split()                      #Processing Movie Name and removing extra data
    newfname=fname[1:len(fname)-1]
    final_name=(" ".join(newfname))
    namelist2.append(final_name)
    
    realese_year=re.sub(r"[\([{})\]]", "",fname[len(fname)-1])
    realeselist3.append(realese_year)                            #Fetching Realese Year from split data and reving brackets
    
    rating = list4[i].strip()
    ratinglist5.append(rating)                       #Dropping extra data associated with rating

#Creating Data Frame as asked for displaying data in readable format

df = pd.DataFrame({"Movie Name ": namelist2,"Year Of Realese ": realeselist3 , "Imdb Rating" : ratinglist5})
df

                          Movie Name  Year Of Realese  Imdb Rating
0            The Shawshank Redemption             1994         9.2
1                       The Godfather             1972         9.2
2                     The Dark Knight             2008         9.0
3               The Godfather Part II             1974         9.0
4                        12 Angry Men             1957         9.0
..                                ...              ...         ...
95                       Citizen Kane             1941         8.3
96  M - Eine Stadt sucht einen Mörder             1931         8.3
97                 Lawrence of Arabia             1962         8.3
98                 North by Northwest             1959         8.2
99                            Vertigo             1958         8.2

[100 rows x 3 columns]

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
#BeautifulSoup Assignment-1 Question-3

import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

# scraping Imdb Website for top 100 indian movies

url_link = 'https://www.imdb.com/india/top-rated-indian-movies/'

request = requests.get(url_link)

#Creating Empty lists for storing data

namelist1=[]
namelist2=[]
realeselist3=[]
list4=[]
ratinglist5=[]

soup = BeautifulSoup(request.text, 'html5lib')

for title in soup.find_all('td',class_="titleColumn"):
    namelist1.append(title.text)

for ratings in soup.find_all('td',class_="imdbRating"):
    list4.append(ratings.text)


for i in range(0,100):

    fname=namelist1[i].split()                      #Processing Movie Name and removing extra data
    newfname=fname[1:len(fname)-1]
    final_name=(" ".join(newfname))
    namelist2.append(final_name)
    
    realese_year=re.sub(r"[\([{})\]]", "",fname[len(fname)-1])
    realeselist3.append(realese_year)                            #Fetching Realese Year from split data and reving brackets
    
    rating = list4[i].strip()
    ratinglist5.append(rating)                       #Dropping extra data associated with rating

#Creating Data Frame as asked for displaying data in readable format

df = pd.DataFrame({"Movie Name ": namelist2,"Year Of Realese ": realeselist3 , "Imdb Rating" : ratinglist5})
df

                            Movie Name  Year Of Realese  Imdb Rating
0   Ramayana: The Legend of Prince Rama             1993         8.5
1            Rocketry: The Nambi Effect             2022         8.4
2                               Golmaal             1979         8.4
3                               Nayakan             1987         8.4
4                           777 Charlie             2022         8.4
..                                  ...              ...         ...
95                       Kaakkaa Muttai             2014         8.0
96                          Ustad Hotel             2012         8.0
97             Theeran Adhigaaram Ondru             2017         8.0
98                               Angoor             1982         8.0
99          Baahubali 2: The Conclusion             2017         8.0

[100 rows x 3 columns]

Write a python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [4]:
#BeautifulSoup Assignment-1 Question-4

import requests
from bs4 import BeautifulSoup
import pandas as pd

#scraping a site for fetching list of former presidents and Term of Office

url_link = 'https://presidentofindia.nic.in/former-presidents.htm'
request = requests.get(url_link)

#Creating Empty Lists for working

list1=[]
namelist=[]
termlist=[]

soup = BeautifulSoup(request.text, 'html5lib')   #Parsing of Data
 
#Fetching Required data from relevent tags and class

for index in soup.find_all('div',class_="presidentListing"):
    list1.append(index.text)

#Seperating Name and Term , Removing extra data 

for i in range(0,len(list1)):
    name = list1[i].split("\n")[1]
    term=  list1[i].split("\n")[2]
    
    namelist.append(name.split("(")[0])       #Removing Birth information
    termlist.append(term.split(": ")[1])      #Removing Extra text before Term of service

#printing required data using Data Frame

df=pd.DataFrame({"President Name": namelist,"Term of Office": termlist}) 
df

,President Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

Write a python program to scrape cricket rankings from icc-cricket.com

#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [5]:
#BeautifulSoup Assignment-1 Question-5(a)

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping The Icc website for ODI team Ranking(mens)

url_link = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
request = requests.get(url_link)

#Creating Empty Lists

rating_list=[]
points_list=[]
name_list=[]
list4=[]
list5=[]

soup = BeautifulSoup(request.text, 'html5lib')               #Parsing

#Finding Ratings

for index in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating_list.append(index.text)

#Finding Points

for index in soup.find_all('td',class_="table-body__cell u-center-text"):
    points_list.append(index.text)

#Finding Team name

for index in soup.find_all('span',class_="u-hide-phablet"):
    name_list.append(index.text)   
    
#Finding Data of First team and appending at first position

for index in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches1=index.text 

for index in soup.find_all('td',class_="rankings-block__banner--points"):
    points1=index.text

for index in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    ranking1=index.text.strip()

rating_list.insert(0,ranking1)

#Seperating Points and matches

for i in range(0,len(points_list)):
    if(i%2==0):
        list4.append(points_list[i])
    else:
        list5.append(points_list[i])

list4.insert(0,matches1)
list5.insert(0,points1)

#Printing top 10 names using data frames

df = pd.DataFrame({"Team Name ": name_list[0:10],"Points": list5[0:10] , "Matches" : list4[0:10] ,"Ranking":rating_list[0:10]})
print(df)

     Team Name  Points Matches Ranking
0   New Zealand  2,670      23     116
1       England  3,400      30     113
2     Australia  3,572      32     112
3         India  4,098      38     108
4      Pakistan  2,354      22     107
5  South Africa  2,392      24     100
6    Bangladesh  3,129      33      95
7     Sri Lanka  2,800      31      90
8   Afghanistan  1,419      20      71
9   West Indies  2,902      41      71

5(b) Top 10 ODI Batsmen along with the records of their team and rating.

In [6]:
#BeautifulSoup Assignment-1 Question-5(b)

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping ICC website for batsman ranking

url_link = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
request = requests.get(url_link)

#creating Empty Lists

player_list=[]
points_list=[]
name_list=[]
list4=[]
list5=[]
soup = BeautifulSoup(request.text, 'html5lib')

#Finding Ratings
for index in soup.find_all('td',class_="table-body__cell rating"):
    rating_list.append(index.text)

#Finding Names

for index in soup.find_all('span',class_="table-body__logo-text"):
    name_list.append(index.text)

#Finding Rankings

for index in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player_list.append(index.text)

#Finding Details of top player and appending

for index in soup.find_all('div',class_="rankings-block__banner--rating"):
    ranking1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--name-large"):
    name1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--nationality"):
    country1=index.text.strip()
for i in range(0,len(player_list)):
    name=(player_list[i].strip())
    list4.append(name)
    
name_list.insert(0,country1)
list4.insert(0,name1)
rating_list.insert(0,ranking1)

#Printing top 10 names using data frames

df = pd.DataFrame({"Team Name ": name_list[0:10],"Player Name": list4[0:10] , "Ranking":rating_list[0:10]})
print(df)

  Team Name             Player Name Ranking
0        PAK             Babar Azam     890
1        PAK            Imam-ul-Haq     116
2         SA  Rassie van der Dussen     113
3         SA        Quinton de Kock     112
4        AUS           David Warner     108
5        AUS            Steve Smith     107
6        ENG         Jonny Bairstow     100
7        IND            Virat Kohli      95
8        IND           Rohit Sharma      90
9         NZ        Kane Williamson      71

5(c) Top 10 ODI bowlers along with the records of their team and rating

In [7]:
#BeautifulSoup Assignment-1 Question-5(c)

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping ICC website for bowler ranking

url_link = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
request = requests.get(url_link)

#creating Empty Lists

player_list=[]
points_list=[]
name_list=[]
list4=[]
list5=[]
soup = BeautifulSoup(request.text, 'html5lib')

#Finding Ratings
for index in soup.find_all('td',class_="table-body__cell rating"):
    rating_list.append(index.text)

#Finding Names

for index in soup.find_all('span',class_="table-body__logo-text"):
    name_list.append(index.text)

#Finding Rankings

for index in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player_list.append(index.text)

#Finding Details of top player and appending

for index in soup.find_all('div',class_="rankings-block__banner--rating"):
    ranking1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--name-large"):
    name1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--nationality"):
    country1=index.text.strip()
for i in range(0,len(player_list)):
    name=(player_list[i].strip())
    list4.append(name)
    
name_list.insert(0,country1)
list4.insert(0,name1)
rating_list.insert(0,ranking1)

#Printing top 10 names using data frames

df = pd.DataFrame({"Team Name ": name_list[0:10],"Player Name": list4[0:10] , "Ranking":rating_list[0:10]})
print(df)

  Team Name         Player Name Ranking
0         NZ        Trent Boult     752
1        AUS     Josh Hazlewood     890
2        AUS     Mitchell Starc     116
3         NZ         Matt Henry     113
4        PAK     Shaheen Afridi     112
5        AFG        Rashid Khan     108
6        AUS         Adam Zampa     107
7        BAN    Shakib Al Hasan     100
8        BAN  Mustafizur Rahman      95
9        AFG   Mujeeb Ur Rahman      90

Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [8]:
#BeautifulSoup Assignment-1 Question-6(a)

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping The Icc website for ODI team Ranking(women)

url_link = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
request = requests.get(url_link)

#Creating Empty Lists

rating_list=[]
points_list=[]
name_list=[]
list4=[]
list5=[]

soup = BeautifulSoup(request.text, 'html5lib')               #Parsing

#Finding Ratings

for index in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating_list.append(index.text)

#Finding Points

for index in soup.find_all('td',class_="table-body__cell u-center-text"):
    points_list.append(index.text)

#Finding Team name

for index in soup.find_all('span',class_="u-hide-phablet"):
    name_list.append(index.text)   
    
#Finding Data of First team and appending at first position

for index in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches1=index.text 

for index in soup.find_all('td',class_="rankings-block__banner--points"):
    points1=index.text

for index in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    ranking1=index.text.strip()

rating_list.insert(0,ranking1)

#Seperating Points and matches

for i in range(0,len(points_list)):
    if(i%2==0):
        list4.append(points_list[i])
    else:
        list5.append(points_list[i])

list4.insert(0,matches1)
list5.insert(0,points1)

#Printing top 10 names using data frames

df = pd.DataFrame({"Team Name ": name_list[0:10],"Points": list5[0:10] , "Matches" : list4[0:10] ,"Ranking":rating_list[0:10]})
print(df)

     Team Name  Points Matches Ranking
0     Australia  3,061      18     170
1       England  3,342      28     119
2  South Africa  3,098      26     119
3         India  2,820      27     104
4   New Zealand  2,553      25     102
5   West Indies  2,535      27      94
6    Bangladesh    983      13      76
7      Thailand    572       8      72
8      Pakistan  1,519      24      63
9     Sri Lanka    353       8      44

6(b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [9]:
#BeautifulSoup Assignment-1 Question-6(b)

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping ICC website for batting ranking

url_link = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
request = requests.get(url_link)

#creating Empty Lists

player_list=[]
points_list=[]
name_list=[]
list4=[]
list5=[]
soup = BeautifulSoup(request.text, 'html5lib')

#Finding Ratings
for index in soup.find_all('td',class_="table-body__cell rating"):
    rating_list.append(index.text)

#Finding Names

for index in soup.find_all('span',class_="table-body__logo-text"):
    name_list.append(index.text)

#Finding Rankings

for index in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player_list.append(index.text)

#Finding Details of top player and appending

for index in soup.find_all('div',class_="rankings-block__banner--rating"):
    ranking1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--name-large"):
    name1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--nationality"):
    country1=index.text.strip()
for i in range(0,len(player_list)):
    name=(player_list[i].strip())
    list4.append(name)
    
name_list.insert(0,country1)
list4.insert(0,name1)
rating_list.insert(0,ranking1)

#Printing top 10 names using data frames

df = pd.DataFrame({"Team Name ": name_list[0:10],"Player Name": list4[0:10] , "Ranking":rating_list[0:10]})
print(df)

  Team Name           Player Name Ranking
0        AUS         Alyssa Healy     785
1        AUS          Beth Mooney     170
2         SA      Laura Wolvaardt     119
3        ENG       Natalie Sciver     119
4        IND     Harmanpreet Kaur     104
5        IND      Smriti Mandhana     102
6        AUS          Meg Lanning      94
7        AUS       Rachael Haynes      76
8         SL  Chamari Athapaththu      72
9         NZ    Amy Satterthwaite      63

6(c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [10]:
#BeautifulSoup Assignment-1 Question-6(c)

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping ICC website for allrounder ranking

url_link = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
request = requests.get(url_link)

#creating Empty Lists

player_list=[]
points_list=[]
name_list=[]
list4=[]
list5=[]
soup = BeautifulSoup(request.text, 'html5lib')

#Finding Ratings
for index in soup.find_all('td',class_="table-body__cell rating"):
    rating_list.append(index.text)

#Finding Names

for index in soup.find_all('span',class_="table-body__logo-text"):
    name_list.append(index.text)

#Finding Rankings

for index in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player_list.append(index.text)

#Finding Details of top player and appending

for index in soup.find_all('div',class_="rankings-block__banner--rating"):
    ranking1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--name-large"):
    name1=index.text.strip()

for index in soup.find_all('div',class_="rankings-block__banner--nationality"):
    country1=index.text.strip()
for i in range(0,len(player_list)):
    name=(player_list[i].strip())
    list4.append(name)
    
name_list.insert(0,country1)
list4.insert(0,name1)
rating_list.insert(0,ranking1)

#Printing top 10 names using data frames

df = pd.DataFrame({"Team Name ": name_list[0:10],"Player Name": list4[0:10] , "Ranking":rating_list[0:10]})
print(df)

  Team Name         Player Name Ranking
0        AUS       Ellyse Perry     374
1         WI    Hayley Matthews     785
2        ENG     Natalie Sciver     170
3         SA     Marizanne Kapp     119
4         NZ        Amelia Kerr     119
5        IND      Deepti Sharma     104
6        AUS   Ashleigh Gardner     102
7        AUS      Jess Jonassen      94
8        IND     Jhulan Goswami      76
9        ENG  Sophie Ecclestone      72

Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [11]:
#BeautifulSoup Assignment-1 Question-7

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping a News Portal

url_link = 'https://www.cnbc.com/world/?region=world'
request = requests.get(url_link)

#Creating List for storing Data

time_list=[]
headline=[]
newslink=[]

#Parsing

soup = BeautifulSoup(request.text, 'html5lib')

#Getting Time Details

for index in soup.find_all('span',class_="LatestNews-wrapper"):
    time_list.append(index.text)

#Getting Headlines

for index in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(index.text)

#Getting Link of News

for index in soup.find_all('a',class_="LatestNews-headline"):
    newslink.append(index.get("href"))

#Printing Data using Data Frame

df = pd.DataFrame({"Headline ": headline,"Time":time_list, "News Link Link" : newslink })

df

,Headline,Time,News Link Link
0,5 things to know before the stock market opens...,13 Min Ago,https://www.cnbc.com/2022/12/14/5-things-to-kn...
1,Buy this 'one stop hydrogen shop' with more th...,22 Min Ago,https://www.cnbc.com/2022/12/14/buy-this-one-s...
2,London suffers IPO 'drought' as fund raising p...,28 Min Ago,https://www.cnbc.com/2022/12/14/london-suffers...
3,"Barclays upgrades Lennar, says homebuilder can...",50 Min Ago,https://www.cnbc.com/2022/12/14/barclays-upgra...
4,Decade ahead will be great for investing but w...,1 Hour Ago,https://www.cnbc.com/2022/12/14/decade-ahead-w...
5,Binance CEO says deposits are 'coming back in'...,2 Hours Ago,https://www.cnbc.com/2022/12/14/binance-ceo-cz...
6,10-year Treasury yield hovers below 3.5% ahead...,2 Hours Ago,https://www.cnbc.com/2022/12/14/us-treasury-yi...
7,Goldman and Citi love these two tech giants an...,4 Hours Ago,https://www.cnbc.com/2022/12/14/goldman-and-ci...
8,UK inflation falls from 41-year high as fuel p...,5 Hours Ago,https://www.cnbc.com/2022/12/14/uk-inflation-f...
9,Blasts rock Kyiv as drones attack the capital;...,5 Hours Ago,https://www.cnbc.com/2022/12/14/ukraine-war-li...
10,Morgan Stanley upgrades its 2023 growth outloo...,5 Hours Ago,https://www.cnbc.com/2022/12/14/morgan-stanley...
11,European Central Bank set for 50 basis point r...,6 Hours Ago,https://www.cnbc.com/2022/12/14/european-centr...
12,Britain's new 'winter of discontent' deepens a...,6 Hours Ago,https://www.cnbc.com/2022/12/14/britains-new-w...
13,GoTo shares surged 33% after UBS double upgrad...,6 Hours Ago,https://www.cnbc.com/2022/12/14/ubs-upgrades-i...
14,European stocks retreat as markets digest infl...,7 Hours Ago,https://www.cnbc.com/2022/12/14/european-marke...
15,Morgan Stanley weighs in on ChatGPT and the ri...,7 Hours Ago,https://www.cnbc.com/2022/12/14/morgan-stanley...
16,"Jack Dorsey admits mistakes at Twitter, and sa...",11 Hours Ago,https://www.cnbc.com/2022/12/13/jack-dorsey-ad...
17,Cramer's lighting round: I like J.M. Smucker o...,11 Hours Ago,https://www.cnbc.com/2022/12/13/cramers-lighti...
18,"Dan Niles is positive on this corner of tech, ...",11 Hours Ago,https://www.cnbc.com/2022/12/14/dan-niles-is-p...
19,Mike Wilson explains why his S&P 500 call is m...,11 Hours Ago,https://www.cnbc.com/2022/12/14/morgan-stanley...
20,Charts suggest it’s time to buy the dips in oi...,12 Hours Ago,https://www.cnbc.com/2022/12/13/charts-suggest...
21,Jim Cramer says crypto and high wages need to ...,12 Hours Ago,https://www.cnbc.com/2022/12/13/cramer-crypto-...
22,Asia-Pacific markets rise on cooler inflation ...,12 Hours Ago,https://www.cnbc.com/2022/12/14/asia-pacific-m...
23,Jim Cramer: Constellation Energy and Sempra En...,12 Hours Ago,https://www.cnbc.com/2022/12/13/jim-cramer-say...
24,Stock futures are muted as investors await the...,13 Hours Ago,https://www.cnbc.com/2022/12/13/stock-market-f...
25,Musk's Twitter reportedly hasn't paid rent on ...,13 Hours Ago,https://www.cnbc.com/2022/12/13/twitter-report...
26,Pro Picks: Watch all of Tuesday's big stock ca...,13 Hours Ago,https://www.cnbc.com/2022/12/13/pro-picks-watc...
27,Google execs warn company reputation could suf...,13 Hours Ago,https://www.cnbc.com/2022/12/13/google-execs-w...
28,Sam Bankman-Fried denied bail in Bahamas on FT...,14 Hours Ago,https://www.cnbc.com/2022/12/13/sam-bankman-fr...
29,"The Arctic is getting warmer and stormier, and...",14 Hours Ago,https://www.cnbc.com/2022/12/13/arctic-getting...

Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [12]:
#BeautifulSoup Assignment-1 Question-8

import requests
from bs4 import BeautifulSoup
 
# scraping a site for fetching most downloaded articles

url_link = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
request = requests.get(url_link)
 
soup = BeautifulSoup(request.text, 'html5lib')

#Creating Empty Lists

author_list=[]
article_list=[]
date_list=[]
url_list=[]

#Fetching Author

for index in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author_list.append(index.text)

#Fetching Article

for index in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    article_list.append(index.text)

#Fetching Date of upload

for index in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date_list.append(index.text)

#Fetching URL's of Articles

for link in soup.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    url_list.append(link.get('href'))  

df = pd.DataFrame({"Article Name ": article_list,"Date Uploaded": date_list , "Authors":author_list ,"URL of Artile" : url_list})
df

,Article Name,Date Uploaded,Authors,URL of Artile
0,Reward is enough,October 2021,"Silver, David, Singh, Satinder, Precup, Doina,...",https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,October 2021,"Evans, Richard, Bošnjak, Matko and 5 more",https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,October 2015,"Prakken, Henry, Sartor, Giovanni",https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,August 1998,"Boden, Margaret A.",https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,June 2017,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,February 2019,"Miller, Tim",https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,April 2021,"Evans, Richard, Hernández-Orallo, José and 3 more",https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,February 2015,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,August 1999,"Sutton, Richard S., Precup, Doina, Singh, Sati...",https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,March 2020,"Bard, Nolan, Foerster, Jakob N. and 13 more",https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,February 2021,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,October 2007,"Bench-Capon, T.J.M., Dunne, Paul E.",https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,August 2016,"Bošanský, Branislav, Lisý, Viliam and 3 more",https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,April 2021,"Luo, Wenhan, Xing, Junliang and 4 more",https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,December 1997,"Blum, Avrim L., Langley, Pat",https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,August 2021,"Arora, Saurabh, Doshi, Prashant",https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,September 2021,"Aas, Kjersti, Jullum, Martin, Løland, Anders",https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,June 2021,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,December 2016,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,September 2021,"Riveiro, Maria, Thill, Serge",https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,May 2021,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,January 2014,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,December 1997,"Kohavi, Ron, John, George H.",https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,October 2021,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI",February 2010,"Ying, Mingsheng",https://www.sciencedirect.com/science/article/...

Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location 
iv) Ratings
v) Image URL

In [13]:
#BeautifulSoup Assignment-1 Question-9

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping a restaurent website for various details 

url_link = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
request = requests.get(url_link)

#Creating empty lists

name_list=[]
rating=[]
location=[]
cuisine=[]
web_list=[]

#parsing

soup = BeautifulSoup(request.text, 'html5lib')

#Getting Restaurent names

for index in soup.find_all('a',class_="restnt-name ellipsis"):
    name_list.append(index.text)

#Getting Restaurent location

for index in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(index.text)

#Getting Restaurent cuisines

for index in soup.find_all('div',class_="detail-info"):
    cuisine.append(index.text.split('|')[1])

#rating on site    

for index in soup.find_all('div',class_="restnt-rating rating-4 hide"):
    rating.append(index.text)   

#Getting image URL

for index in soup.find_all('img', class_="no-img"):
    web_list.append(index.get("data-src"))   


#Displaying data using data frames

df = pd.DataFrame({"Restaurant Name ": name_list,"Cuisine":cuisine, "Location": location ,"Rating":rating,"Image Link" : web_list })
df

,Restaurant Name,Cuisine,Location,Rating,Image Link
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

10) Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
iv) h5-median

In [1]:
#BeautifulSoup Assignment-1 Question-10

import requests
from bs4 import BeautifulSoup
import pandas as pd

# scraping a website for finding top publications

url_link = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'
request = requests.get(url_link)
ranking_list=[]
publication_list=[]
h5_list=[]
h5_index=[]

soup = BeautifulSoup(request.text, 'html5lib')

#Finding Ranking

for index in soup.find_all('td',class_="gsc_mvt_p"):
    ranking_list.append(index.text.replace("."," "))

#Finding Publication

for index in soup.find_all('td',class_="gsc_mvt_t"):
    publication_list.append(index.text)

#Finding H5 list
    
for index in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5_list.append(index.text)

#Finding H5 index

for index in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(index.text)   

#Printing required data

df = pd.DataFrame({"Ranking ": ranking_list,"Publication List": publication_list ,"H5-Index":h5_index, "H5-Median":h5_list})
df

Empty DataFrame
Columns: [Ranking , Publication List, H5-Index, H5-Median]
Index: []